/*inclues but not limited to the following
 *Clearfix
 *colors
 *display
 *embed
 *flex
 *float
 *position
 *shadows
 *sizing
 *spacing
*text transform
*vertical align
*visibility
*/
/*inclues but not limited to the following
 *Clearfix
 *colors
 *display
 *embed
 *flex
 *float
 *position
 *shadows
 *sizing
 *spacing
*text transform
*vertical align
*visibility
*/
.flex {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-col {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
          flex-direction: column;
}

.justify-content-center {
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.align-items-flex-end {
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.bold {
  font-weight: bold;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.m-auto {
  margin: auto;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-right: 30px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.blk {
  display: block;
}

.in-blk {
  display: inline-block;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

.no-outline {
  outline: 0;
}
.no-outline:focus {
  outline: 0;
}

.control {
  width: 100%;
}

.img-responsive {
  width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.hide-content {
  overflow: hidden;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.no-btn {
  background-color: transparent;
  border: none;
}

input:focus, button:focus {
  outline: 0;
}

body {
  font-family: lato;
  text-transform: uppercase;
}

.shadow {
  background-color: aliceblue;
  height: 150px;
  width: 150px;
  box-shadow: 0 3px 6px #000;
  border-radius: 50%;
  background-color: yellow;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.header {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: between;
     -moz-box-pack: between;
          justify-content: between;
  border-bottom: 1px solid #EEE;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
}

.logo {
  margin-right: auto;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.search-img {
  width: 22px;
  height: 23.17px;
}

.hamburger-img {
  width: 22px;
  height: 18px;
}

.search, .hambuger {
  border-left: 1px solid #EEE;
  padding-left: 20px;
  padding-right: 20px;
}

.main-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 91px;
  left: 0;
  -webkit-transform: translate(-100%);
     -moz-transform: translate(-100%);
       -o-transform: translate(-100%);
          transform: translate(-100%);
  width: 100%;
  -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}
.main-menu .menu-item {
  list-style-type: none;
  font-weight: bold;
  padding: 15px 20px;
  border-bottom: 1px solid #EEE;
}

.menu-item a {
  color: #000;
  display: block;
  -webkit-transition: .3s ease-in-out;
     -moz-transition: .3s ease-in-out;
       -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
}
.menu-item a:hover {
  color: #FFAA58;
  text-decoration: none;
}

.search-div {
  height: 91px;
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-bottom: 1px solid #EEE;
  display: none;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.search-form__textbox {
  padding: 5px 10px;
  color: #b1a1a1;
  border: 0;
}

.right-arrow-img {
  width: 20px;
  height: 16px;
}

.search-close-img {
  width: 14px;
  height: 14px;
}

.showsearch {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
